/* Write your CSS here */
li {
  width: 50%;
  padding: 10px;
}
.event-image {
  width: 100%;
}
.name {
  color: #ffffff;
  font-family: 'roboto';
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
p {
  color: #ffffff;
  font-family: 'roboto';
  font-weight: 400;
  font-family: 'roboto';
}
button {
  border: none;
  outline-color: #2dd4bf;
  background-color: transparent;
  cursor: pointer;
}
